body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #67696E;
    font-size: larger;
    padding:0;
    margin: 0;
}



h1{
    display: flex;
    justify-content: center;
    font-family: 'Courier New';
    font-style: bold;
    color: white;
    margin-top: 50px;
}


#time, #daysOfWk{
    display: flex;
    justify-content: center;
    font-style: bold;
    font-size: 70px;
    color: white;

}