body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #67696E;
    font-size: larger;
    padding:0;
    margin: 0;
}


body, h1{
    font: white;
    font-family: 'Courier New';
    font-style: bold;
}